body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* TODO: Use a Github Workflow and Amazon Stlye Dictionary to Sync with Figma*/
/* Eventually we should add a JSON file for styles too, this will offer a ssecond way to call design tokens */
:root {
  --gray-1: rgba(51, 51, 51, 1);
  --gray-2: rgba(79, 79, 79, 1);
  --gray-3: rgba(130, 130, 130, 1);
  --gray-4: rgba(189, 189, 189, 1);
  --gray-5: rgba(224, 224, 224, 1);
  --gray-6: rgba(242, 242, 242, 1);
  --red: rgba(235, 87, 87, 1);
  --orange: rgba(242, 153, 74, 1);
  --yellow: rgba(242, 201, 76, 1);
  --green-1: rgba(33, 150, 83, 1);
  --green-2: rgba(39, 174, 96, 1);
  --green-3: rgba(111, 207, 151, 1);
  --tertiary: rgba(7, 35, 100, 1);
  --secondary: rgba(43, 43, 144, 1);
  --primary: rgba(69, 115, 238, 1);
  --background: rgba(240, 244, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --font-style-1-font-size: 10px;
  --font-style-1-text-decoration: none;
  --font-style-1-font-family: Inter;
  --font-style-1-font-style: Regular;
  --font-style-1-letter-spacing: 1px;
  --font-style-1-line-height: 16px;
  --font-style-1-paragraph-indent: 0px;
  --font-style-1-paragraph-spacing: 0px;
  --font-style-1-text-case: capitalize;
  --font-style-2-font-size: 12px;
  --font-style-2-text-decoration: none;
  --font-style-2-font-family: Inter;
  --font-style-2-font-style: Medium;
  --font-style-2-letter-spacing: 0px;
  --font-style-2-line-height: 16px;
  --font-style-2-paragraph-indent: 0px;
  --font-style-2-paragraph-spacing: 0px;
  --font-style-2-text-case: none;
  --font-style-3-font-size: 14px;
  --font-style-3-text-decoration: none;
  --font-style-3-font-family: Inter;
  --font-style-3-font-style: Semi Bold;
  --font-style-3-letter-spacing: 2px;
  --font-style-3-line-height: NaNpx;
  --font-style-3-paragraph-indent: 0px;
  --font-style-3-paragraph-spacing: 0px;
  --font-style-3-text-case: capitalize;
  --font-style-4-font-size: 16px;
  --font-style-4-text-decoration: none;
  --font-style-4-font-family: Inter;
  --font-style-4-font-style: Regular;
  --font-style-4-letter-spacing: 0px;
  --font-style-4-line-height: 20px;
  --font-style-4-paragraph-indent: 0px;
  --font-style-4-paragraph-spacing: 0px;
  --font-style-4-text-case: none;
  --font-style-5-font-size: 18px;
  --font-style-5-text-decoration: none;
  --font-style-5-font-family: Inter;
  --font-style-5-font-style: Bold;
  --font-style-5-letter-spacing: 0px;
  --font-style-5-line-height: 20px;
  --font-style-5-paragraph-indent: 0px;
  --font-style-5-paragraph-spacing: 0px;
  --font-style-5-text-case: none;
  --font-style-6-font-size: 20px;
  --font-style-6-text-decoration: none;
  --font-style-6-font-family: Inter;
  --font-style-6-font-style: Medium;
  --font-style-6-letter-spacing: 0px;
  --font-style-6-line-height: 20px;
  --font-style-6-paragraph-indent: 0px;
  --font-style-6-paragraph-spacing: 0px;
  --font-style-6-text-case: none;
  --font-style-7-font-size: 24px;
  --font-style-7-text-decoration: none;
  --font-style-7-font-family: Inter;
  --font-style-7-font-style: Semi Bold;
  --font-style-7-letter-spacing: 0px;
  --font-style-7-line-height: 150px;
  --font-style-7-paragraph-indent: 0px;
  --font-style-7-paragraph-spacing: 0px;
  --font-style-7-text-case: none;
  --font-style-8-font-size: 32px;
  --font-style-8-text-decoration: none;
  --font-style-8-font-family: Inter;
  --font-style-8-font-style: Medium;
  --font-style-8-letter-spacing: 0px;
  --font-style-8-line-height: 20px;
  --font-style-8-paragraph-indent: 0px;
  --font-style-8-paragraph-spacing: 0px;
  --font-style-8-text-case: none;
  --font-style-9-font-size: 36px;
  --font-style-9-text-decoration: none;
  --font-style-9-font-family: Montserrat;
  --font-style-9-font-style: Bold;
  --font-style-9-letter-spacing: 0px;
  --font-style-9-line-height: 20px;
  --font-style-9-paragraph-indent: 0px;
  --font-style-9-paragraph-spacing: 0px;
  --font-style-9-text-case: none;
  --font-style-10-font-size: 48px;
  --font-style-10-text-decoration: none;
  --font-style-10-font-family: Montserrat;
  --font-style-10-font-style: SemiBold;
  --font-style-10-letter-spacing: 0px;
  --font-style-10-line-height: NaNpx;
  --font-style-10-paragraph-indent: 0px;
  --font-style-10-paragraph-spacing: 0px;
  --font-style-10-text-case: none;
  --font-style-11-font-size: 64px;
  --font-style-11-text-decoration: none;
  --font-style-11-font-family: Montserrat;
  --font-style-11-font-style: Bold;
  --font-style-11-letter-spacing: 0px;
  --font-style-11-line-height: NaNpx;
  --font-style-11-paragraph-indent: 0px;
  --font-style-11-paragraph-spacing: 0px;
  --font-style-11-text-case: none;
  --font-style-12-font-size: 96px;
  --font-style-12-text-decoration: none;
  --font-style-12-font-family: Montserrat;
  --font-style-12-font-style: SemiBold;
  --font-style-12-letter-spacing: -1px;
  --font-style-12-line-height: NaNpx;
  --font-style-12-paragraph-indent: 0px;
  --font-style-12-paragraph-spacing: 0px;
  --font-style-12-text-case: none;
  --utility-heading-1-font-size: 96px;
  --utility-heading-1-text-decoration: none;
  --utility-heading-1-font-family: Inter;
  --utility-heading-1-font-style: Semi Bold;
  --utility-heading-1-letter-spacing: 0px;
  --utility-heading-1-line-height: 128px;
  --utility-heading-1-paragraph-indent: 0px;
  --utility-heading-1-paragraph-spacing: 0px;
  --utility-heading-1-text-case: capitalize;
  --utility-heading-2-font-size: 64px;
  --utility-heading-2-text-decoration: none;
  --utility-heading-2-font-family: Inter;
  --utility-heading-2-font-style: Medium;
  --utility-heading-2-letter-spacing: 0px;
  --utility-heading-2-line-height: 150px;
  --utility-heading-2-paragraph-indent: 0px;
  --utility-heading-2-paragraph-spacing: 0px;
  --utility-heading-2-text-case: none;
  --utility-heading-3-font-size: 48px;
  --utility-heading-3-text-decoration: none;
  --utility-heading-3-font-family: Inter;
  --utility-heading-3-font-style: Medium;
  --utility-heading-3-letter-spacing: 0px;
  --utility-heading-3-line-height: 150px;
  --utility-heading-3-paragraph-indent: 0px;
  --utility-heading-3-paragraph-spacing: 0px;
  --utility-heading-3-text-case: none;
  --utility-heading-4-font-size: 40px;
  --utility-heading-4-text-decoration: none;
  --utility-heading-4-font-family: Inter;
  --utility-heading-4-font-style: Medium;
  --utility-heading-4-letter-spacing: 0px;
  --utility-heading-4-line-height: 64px;
  --utility-heading-4-paragraph-indent: 0px;
  --utility-heading-4-paragraph-spacing: 0px;
  --utility-heading-4-text-case: none;
  --utility-heading-5-font-size: 24px;
  --utility-heading-5-text-decoration: none;
  --utility-heading-5-font-family: Inter;
  --utility-heading-5-font-style: Semi Bold;
  --utility-heading-5-letter-spacing: 0px;
  --utility-heading-5-line-height: 40px;
  --utility-heading-5-paragraph-indent: 0px;
  --utility-heading-5-paragraph-spacing: 0px;
  --utility-heading-5-text-case: none;
  --utility-heading-6-font-size: 20px;
  --utility-heading-6-text-decoration: none;
  --utility-heading-6-font-family: Inter;
  --utility-heading-6-font-style: Medium;
  --utility-heading-6-letter-spacing: 0px;
  --utility-heading-6-line-height: 32px;
  --utility-heading-6-paragraph-indent: 0px;
  --utility-heading-6-paragraph-spacing: 0px;
  --utility-heading-6-text-case: none;
  --utility-body-font-size: 16px;
  --utility-body-text-decoration: none;
  --utility-body-font-family: Inter;
  --utility-body-font-style: Medium;
  --utility-body-letter-spacing: 0px;
  --utility-body-line-height: 150px;
  --utility-body-paragraph-indent: 0px;
  --utility-body-paragraph-spacing: 0px;
  --utility-body-text-case: none;
}
