/* Material UI CSS Variables */

:root {
  --color-bg-primary: var(--background);
  --color-bg-card: var(--white);
  --color-bg-tooltip: var(--gray-3);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-text-primary: var(--gray-1);
  --color-text-secondary: var(--gray-3);
  --color-text-tertiary: var(--gray-4);
  --color-text-emphasis-high: var(--primary);
  --color-text-emphasis-low: var(--secondary);
  --color-text-inverse: var(--white);

  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
}

/*! purgecss start ignore */
.theme-dark {
  --color-bg-primary: var(--palette-text);
  --color-bg-secondary: #dcd0c0;
  --color-bg-default: #f4f4f4;
  --color-bg-inverse: #373737;

  --color-text-primary: #fff;
  --color-text-secondary: #927e7e;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #fff;
  --color-text-inverse-soft: #bbb;

  --font-display: Georgia, Times, "Times New Roman", serif;
  --font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0;
}
